.newsletter-container {
  background-color: rgba(55, 13, 81, 1);
  color: var(--txt-color);
  padding: 1.2rem;
  margin-top: 3rem;
}

.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-right {
  width: 28%;
}

.newsletter-left {
  width: 55%;
}

.newsletter-right h2 {
  font-size: 2rem;
  font-weight: 600;
}

.newsletter-right p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #eaeaea;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(234, 234, 234, 1);
  border-radius: 0.8rem;
  /* padding-right: 15px; */
  padding: 5px 15px 5px 5px;
}

.newsletter-input {
  background-color: transparent;
  color: var(--txt-color);
  font-size: 1.6rem;
}

.newsletter-input::placeholder {
  color: rgb(251, 251, 251);
  font-size: 1.6rem;
  font-family: "yekan";
}

.newsletter-button {
  width: 10.6rem;
  height: 4rem;
  background-color: var(--main-color);
  border-radius: 0.8rem;
  color: var(--txt-color);
  font-family: "yekan";
  font-size: 1.6rem;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.newsletter-button:hover {
  box-shadow: 0 0 1rem var(--box-shadow);
}

/* =========================================================================================== */
@media screen and (max-width: 1400px) {
  .newsletter-right {
    width: 32%;
  }

  .newsletter-left {
    width: 60%;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 1200px) {
  .newsletter-wrapper {
    gap: 2rem;
  }

  .newsletter-right {
    width: 35%;
  }

  .newsletter-left {
    width: 63%;
  }

  .newsletter-right h2 {
    font-size: 1.9rem;
  }

  .newsletter-right p {
    font-size: 1.5rem;
  }

  .newsletter-button {
    width: 10rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 992px) {
  .newsletter-wrapper {
    gap: 2.5rem;
  }

  .newsletter-right {
    width: 38%;
  }

  .newsletter-left {
    width: 60%;
  }

  .newsletter-form {
    padding: 5px 10px;
  }

  .newsletter-input {
    font-size: 1.5rem;
  }

  .newsletter-input::placeholder {
    font-size: 1.4rem;
  }

  .newsletter-button {
    width: 9.5rem;
    font-size: 1.5rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 768px) {
  .newsletter-container {
    padding: 2rem 1.5rem;
  }

  .newsletter-wrapper {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .newsletter-right,
  .newsletter-left {
    width: 100%;
  }

  .newsletter-right h2 {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
  }

  .newsletter-right p {
    font-size: 1.5rem;
    line-height: 1.9;
  }

  .newsletter-form {
    width: 100%;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 576px) {
  .newsletter-container {
    padding: 2rem 1rem;
  }

  .newsletter-form {
    gap: 0.8rem;
    padding: 0.8rem;
  }

  .newsletter-input {
    font-size: 1.4rem;
  }

  .newsletter-input::placeholder {
    font-size: 1.3rem;
  }

  .newsletter-button {
    width: 9rem;
    min-width: 9rem;
    height: 3.8rem;
    font-size: 1.4rem;
  }

  .newsletter-right h2 {
    font-size: 2rem;
  }

  .newsletter-right p {
    font-size: 1.4rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 470px) {
  .newsletter-form {

    border: none;
    padding: 0;
    gap: 1rem;
  }

  .newsletter-input {
    width: 100%;
    border: 2px solid rgba(234, 234, 234, 0.9);
    border-radius: 0.8rem;
    padding: 1.2rem;
  }

  .newsletter-button {
    width: 25%;
    height: 4.2rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 400px) {
  .newsletter-container {
    padding: 1.5rem 0.8rem;
  }

  .newsletter-right h2 {
    font-size: 1.8rem;
  }

  .newsletter-right p {
    font-size: 1.3rem;
  }

  .newsletter-input {
    font-size: 1.3rem;
    padding: 1rem;
  }

  .newsletter-input::placeholder {
    font-size: 1.2rem;
  }

  .newsletter-button {
    font-size: 1.3rem;
    height: 4rem;
  }
}
