.contact-us {
  background-color: var(--main-color);
  margin-top: 10rem;
  padding-top: 8rem;
}

.contact-us-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8rem;
}

.contact-us-right {
  color: var(--txt-color);
  width: 22%;
}

.contact-us-right h1 {
  font-weight: 700;
  font-size: 4rem;
}

.contact-us-right p {
  font-size: 2rem;
  margin-top: 1rem;
}

.info {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 14px;
}

/* ? Media Queries ================================================================ */

@media (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 1400px) {
}

/* =========================================================================================== */
@media screen and (max-width: 1200px) {
  .contact-us-right h1 {
    font-size: 3rem;
  }

  .contact-us-right p {
    font-size: 1.6rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 992px) {
  .contact-us-wrapper {
    flex-direction: column;
    gap: 4rem;
  }

  .contact-us-left {
    width: 100%;
  }

  .contact-us-right {
    width: 100%;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 768px) {
  .main {
    padding-top: 2rem;
  }

  .contact-us-left form {
    flex-direction: column;
  }

  .inpust-items {
    width: 100%;
  }

  .info {
    align-items: center;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 576px) {
}

/* =========================================================================================== */
@media screen and (max-width: 470px) {
}

/* =========================================================================================== */
@media screen and (max-width: 400px) {
}
