.main {
  margin-top: 10rem;
  padding-top: 6rem;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-top: 10rem;
  padding-top: 6rem;
}

.product-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.5rem;
}

/* ===================== 1400 ===================== */

@media (max-width: 1400px) {
  .product-header {
    gap: 2rem;
  }
}

/* ===================== 1200 ===================== */

@media (max-width: 1200px) {
  .main {
    padding-top: 5rem;
  }

  .product-header {
    gap: 1.8rem;
  }
}

/* ===================== 992 ===================== */

@media (max-width: 992px) {
  .main {
    margin-top: 8rem;
    padding-top: 3rem;
  }

  .product-header {
    flex-direction: column;
    gap: 2rem;
  }

  .product-header > * {
    width: 100%;
  }
}

/* ===================== 768 ===================== */

@media (max-width: 768px) {
  .main {
    padding-top: 2rem;
  }

  .product-header {
    gap: 1.8rem;
  }
}

/* ===================== 576 ===================== */

@media (max-width: 576px) {
  .main {
    margin-top: 7rem;
    padding-top: 1.5rem;
  }

  .product-header {
    gap: 1.5rem;
  }
}

/* ===================== 470 ===================== */

@media (max-width: 470px) {
  .main {
    padding-top: 1rem;
  }

  .product-header {
    gap: 1.2rem;
  }
}
