.discount_left_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 28rem;
  background-color: var(--bg-color);
  border-radius: 0.8rem;
}

.discount_left_item img {
  width: 100%;
  height: 128px;
  object-fit: contain;
}

.discount_left_item_info {
}

.discount_left_item_title {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.discount_left_item_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.9rem;
}

.product_send_post img {
  width: 1.6rem;
  height: 1.6rem;
}

.product_rating_count img {
  width: 2.4rem;
  height: 2.4rem;
}

.product_org_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.9rem;
}

#sss {
  display: flex;
  gap: 0.5rem;
  color: var(--links-color);
}

.discount_range {
  font-size: 10px;
  background-color: #d32f2f;
  padding: 2px 1.2rem 0;

  border-radius: 1.2rem;
  color: var(--txt-color);
}

.orginal_price {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.product_send_post {
  background-color: var(--bg-color-violet);
  border-radius: 2.4rem;
  padding: 0.1rem 0.8rem;
  font-size: 1.2rem;
  color: var(--bg-label-color);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.product_rating_count {
  color: #efc003;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.discount_left_item img,
.discount_left_item_title,
.discount_left_item_rating,
.product_org_price {
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 1400px) {
  .discount_left_item {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .discount_left_item {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .discount_left_item {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .orginal_price {
    font-size: 1.6rem;
  }

  #sss {
    font-size: 12px;
  }
}
