.main {
  margin-top: 10rem;
  padding-top: 8rem;
}

.link {
  width: 49%;
}

/* =========== popular_laptop ============= */

.popular_laptop {
  margin: 10rem 0;
}

.popular_laptop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =========== Laptop Brand ============= */
.hero-section {
  /* margin-top: 10rem; */
}

.laptop_brand {
}

.laptop_brand_wrapper,
.laptop_brand_items,
.laptop_brnad_img,
.laptop_brand_items img,
.laptop_brand_items a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.laptop_brand_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.laptop_brand_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  width: 100%;
  border-radius: 1.2rem;
  padding: 2.5rem 0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.laptop_brnad_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 14rem;
}

.laptop_brand_items img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.laptop_brand_items a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1.8rem;
  color: var(--txt-black);
}

/* ================= laptop_by_usage ================ */
.category_usage_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.laptop_by_usage {
  background-color: var(--bg-color);
  width: 100%rem;
  border-radius: 12px;
  text-align: center;
  padding: 2.5rem;
}

.laptop_by_usage img {
  width: 14rem;
  height: auto;
}

.laptop_by_usage div {
  width: 100%;
}

.laptop_by_usage span {
  color: var(--txt-black);
}

/* ================= Best Sell Laptops ================ */

.laptop_best_sell_items,
.laptop_best_sell_items-header,
.laptop_best_sell_items-main,
.laptop_best_sell_items-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.laptop_best_sell {
}
.discount-percent {
  background: #ff4d4f;
  color: #fff;
  font-size: 11px;
  padding: 4px;
  border-radius: 6px;
  margin-right: 5px;
  display: inline-block;
  font-weight: bold;
  border-radius: 8px;
}

.laptop_best_sell_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.laptop_best_sell_items {
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 0.9rem;
  padding: 1rem;
  justify-content: space-between;
}

.laptop_best_sell_items_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.laptop_best_sell_items_right img {
  width: 85%;
}

.laptop_best_sell_items_left {
  width: 73%;
}

.laptop_best_sell_items-header {
  color: var(--txt-black);
  font-size: 2rem;
  font-weight: 700;
  justify-content: start !important;
  gap: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.laptop_best_sell_items-main {
}

.div1 {
  color: var(--links-color);
  font-size: 14px;
}

.div1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1rem;
}

.mark {
}

.GPU-mark {
}

.display {
}

.CPU-mark {
}

.RAM {
}

.HDD {
}

.laptop_best_sell_items-price {
  border-top: 1px solid var(--border-color);
  padding-top: 1rem;
}

.laptop-price span {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.laptop-usage-label span {
  background-color: var(--bg-color-violet);
  border-radius: 3.5rem;
  color: var(--label);
  padding: 0.5rem 1.6rem;
  font-size: 12px;
}

/* ================= category-by-cpu ================ */

.category-by-cpu {
  margin-bottom: 10rem;
}

.category-by-cpu img {
  width: 100%;
}

.category-by-cpu__wrapper {
  display: flex;
  justify-content: space-between;
}

.category-by-cpu__items {
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 0.9rem;
  display: block;
  width: 100%;
  padding-bottom: 2.5rem;
}

.category-by-cpu__items div {
}

/* ================= category-by-price ================ */

.category-by-price {
}

.category-by-price-wrapper {
  display: flex;
  justify-content: space-between;
}

.category-by-price-item {
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-by-price-item img {
  width: 100%;
}

/* ? Media Queries */

@media (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 1400px) {
  .blog_date,
  .blog_category {
    padding: 0 1rem;
  }

  .accordion_title {
    font-size: 2rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 1200px) {
  .hero-section-slider {
    height: 30rem;
  }

  .laptop_brnad_img {
    width: 13rem;
    height: 13rem;
  }

  .laptop_brnad_img img {
    width: 80%;
  }

  .laptop_brand_items {
    padding: 2rem 0;
  }

  .faq_right {
    width: 26rem;
  }

  .faq_left {
    width: 65rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 992px) {
  .blog_title {
    font-size: 1.4rem;
  }

  .blog_date,
  .blog_category {
    font-size: 1.2rem !important;
  }

  .laptop_best_sell_items-header {
    font-size: 1.6rem;
  }

  .laptop_best_sell_items_left {
    width: 100%;
  }

  .laptop_best_sell_items_right img {
    width: 45%;
  }

  .laptop_best_sell_items_right {
    width: 100%;
  }

  .laptop_best_sell_items {
    flex-direction: column;
  }

  .category-by-price-item img {
    width: 80%;
  }

  .category-by-price-item {
    padding: 1rem 0;
  }

  .faq_wrapper {
    flex-direction: column;
  }

  .faq_right,
  .faq_left {
    width: 100%;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 768px) {
  .hero-section {
    height: 20rem;
  }

  .hero-section-slider {
    height: 21rem !important;
  }

  .main {
    padding-top: 2.5rem;
  }

  .hero-section-slider .swiper-button-next,
  .hero-section-slider .swiper-button-prev {
    display: none;
  }

  .laptop-usage-label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 30%;
  }

  .category-by-cpu img {
    width: 75%;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 576px) {
  .hero-section {
    height: 10rem;
  }

  .hero-section-slider {
    height: 13.5rem !important;
    border-radius: 1rem;
  }

  .laptop_brnad_img {
    width: 11rem;
    height: 11rem;
  }

  .laptop_brand_items a {
    gap: 1rem;
  }

  .laptop_brnad_img img {
    width: 75%;
  }

  .laptop_by_usage {
    padding: 1.5rem;
  }

  .div1 {
    font-size: 12px;
  }

  .laptop-usage-label span {
    font-size: 8px;
  }

  .laptop-price span {
    font-size: 1.6rem;
  }

  .laptop_best_sell_items-header {
    align-items: baseline;
  }

  .accordion_title {
    font-size: 1.4rem;
  }

  .blog-slider .swiper-button-prev,
  .blog-slider .swiper-button-next {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 0.6rem !important;
  }

  .blog-slider .swiper-button-prev svg,
  .blog-slider .swiper-button-next svg {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .laptop_best_sell_items-header {
    font-size: 1.3rem;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 470px) {
  .laptop_best_sell_items {
    width: 100%;
    flex-direction: row;
  }

  .laptop_best_sell_items_right {
    width: 40%;
  }

  .laptop_best_sell_items_left {
    width: 60%;
  }

  .laptop_best_sell_items_right img {
    width: 80%;
  }

  .laptop_best_sell_items-main {
    text-align: center;
  }
}

/* =========================================================================================== */
@media screen and (max-width: 400px) {
}
